---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  namespace: ddns-updater
  name: ddns-updater-certificate
spec:
  commonName: ddns.kalexlab.xyz
  secretName: ddns-updater-ingress-certificate-secret
  dnsNames:
    - ddns.kalexlab.xyz
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  namespace: ddns-updater
  name: ddns-updater-ingress
  annotations:
    external-dns.alpha.kubernetes.io/target: 192.168.10.20
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - kind: Rule
      match: Host(`ddns.kalexlab.xyz`)
      services:
        - name: ddns-updater
          port: 8000
      middlewares:
        - name: authelia-forward-auth
          namespace: sso
  tls:
    secretName: ddns-updater-ingress-certificate-secret
