---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  namespace: traefik
  name: traefik-dashboard-auth
spec:
  basicAuth:
    secret: traefik-dashboard-auth-secret
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: letsencrypt-tls-traefik
  namespace: traefik
spec:
  secretName: letsencrypt-tls-traefik
  commonName: traefik.kalexlab.xyz
  dnsNames:
    - traefik.kalexlab.xyz
  issuerRef:
    group: cert-manager.io
    kind: ClusterIssuer
    name: letsencrypt
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  namespace: traefik
  name: traefik-dashboard-ingress
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - kind: Rule
      match: Host(`traefik.kalexlab.xyz`)
      middlewares:
        - name: traefik-dashboard-auth
      services:
        - kind: TraefikService
          name: api@internal
  tls:
    secretName: letsencrypt-tls-traefik
