---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: argocd
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - clusters: {}
  template:
    metadata:
      name: argocd
    spec:
      project: default
      sources:
        - repoURL: "https://argoproj.github.io/argo-helm"
          chart: argo-cd
          targetRevision: 9.3.0
          helm:
            releaseName: argocd
            valueFiles:
              - $values/helm/argocd/values.yaml
              - "secrets://https://raw.githubusercontent.com/AlessandroZanatta/homelab-v2/master/helm/argocd/secrets.yaml"
              - "secrets://https://raw.githubusercontent.com/AlessandroZanatta/homelab-v2/master/helm/argocd/secrets-{{ .metadata.labels.env }}.yaml"
        - repoURL: "https://github.com/AlessandroZanatta/homelab-v2.git"
          targetRevision: master
          path: "helm/argocd/extra/overlays/{{ .metadata.labels.env }}"
          ref: values
        - repoURL: "https://github.com/AlessandroZanatta/homelab-v2.git"
          targetRevision: master
          path: "helm/argocd/patches/base"
      destination:
        server: "{{ .server }}"
        namespace: argocd
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
