---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: longhorn
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - clusters: {}
  template:
    metadata:
      name: longhorn
    spec:
      project: default
      sources:
        - repoURL: "https://charts.longhorn.io"
          chart: longhorn
          targetRevision: 1.11.0
          helm:
            releaseName: longhorn
            valueFiles:
              - $values/helm/longhorn/values.yaml
              - $values/helm/longhorn/values-{{ .metadata.labels.env }}.yaml
        - repoURL: "https://github.com/AlessandroZanatta/homelab-v2.git"
          targetRevision: master
          path: "helm/longhorn/extra/overlays/{{ .metadata.labels.env }}"
          ref: values
        - repoURL: "https://github.com/AlessandroZanatta/homelab-v2.git"
          targetRevision: master
          path: "helm/longhorn/patches/{{ .metadata.labels.env }}"
      destination:
        server: "{{ .server }}"
        namespace: longhorn-system
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true

      # https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/2.14-3.0/#removing-default-ignores-of-preserveunknownfields-for-crd
      ignoreDifferences:
        - group: apiextensions.k8s.io
          kind: CustomResourceDefinition
          jsonPointers:
            - /spec/preserveUnknownFields
