---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reloader
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: "https://stakater.github.io/stakater-charts"
      chart: reloader
      targetRevision: 2.2.5
      helm:
        releaseName: reloader
        valueFiles:
          - $values/helm/reloader/values.yaml
    - repoURL: "https://github.com/AlessandroZanatta/homelab-v2.git"
      targetRevision: master
      ref: values
  destination:
    server: "https://kubernetes.default.svc"
    namespace: reloader
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
