---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - "https://github.com/argoproj-labs/argocd-image-updater/manifests/base?ref=stable"
  - secrets.yaml
patchesStrategicMerge:
  - conf.yaml
  - deployment.yaml
images:
  - name: quay.io/argoprojlabs/argocd-image-updater
    newName: registry.kalexlab.xyz/argocd-image-updater
    newTag: latest
