---
kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: "{{ k8s_encryption_key_name }}"
              secret: "{{ k8s_encryption_key_secret }}"
      - identity: {}
