---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: books
  name: books-ingest-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: longhorn
  resources:
    requests:
      storage: 512Mi
