---
apiVersion: v1
kind: Service
metadata:
  namespace: nextcloud
  name: nextcloud
  labels:
    kalexlab.xyz/app: nextcloud
    kalexlab.xyz/component: nextcloud
spec:
  type: ClusterIP
  ports:
    - name: nextcloud
      port: 80
      protocol: TCP
  selector:
    kalexlab.xyz/app: nextcloud
    kalexlab.xyz/component: nextcloud
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: nextcloud
  name: nextcloud
  labels:
    kalexlab.xyz/app: nextcloud
    kalexlab.xyz/component: nextcloud
spec:
  serviceName: nextcloud
  replicas: 1
  selector:
    matchLabels:
      kalexlab.xyz/app: nextcloud
      kalexlab.xyz/component: nextcloud
  minReadySeconds: 5
  template:
    metadata:
      labels:
        kalexlab.xyz/app: nextcloud
        kalexlab.xyz/component: nextcloud
        kalexlab.xyz/monitoring: "true"
    spec:
      restartPolicy: Always
      initContainers:
        - name: copy-conf
          image: "docker.io/library/alpine:3.22"
          imagePullPolicy: Always

          resources:
            requests:
              memory: 30Mi
              cpu: 1m
            limits:
              memory: 300Mi
              cpu: 20m

          securityContext:
            runAsUser: 33
            runAsGroup: 33
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          command: ["sh", "-c", "cp -rL /config-map/* /config-dir"]

          volumeMounts:
            - mountPath: /config-map
              name: nextcloud-configmap
            - mountPath: /config-dir
              name: nextcloud-config

        - name: wait-deps
          image: "docker.io/library/alpine:3.22"
          imagePullPolicy: Always

          resources:
            requests:
              memory: 30Mi
              cpu: 1m
            limits:
              memory: 300Mi
              cpu: 20m

          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          command:
            [
              "sh",
              "-c",
              "for i in $(seq 1 300); do nc -zvw1 cache 6379 && nc -zvw1 cluster-rw 5432 && exit 0 || sleep 3; done; exit 1",
            ]

      containers:
        - name: nextcloud
          image: "docker.io/library/nextcloud:32.0.2-apache"
          imagePullPolicy: Always

          ports:
            - containerPort: 80
              protocol: TCP

          env:
            # Keep NEXTCLOUD_ADMIN_* env variables here,
            # even though they are only used on the initial setup
            - name: NEXTCLOUD_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: nextcloud-secrets
                  key: NEXTCLOUD_ADMIN_USER
            - name: NEXTCLOUD_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud-secrets
                  key: NEXTCLOUD_ADMIN_PASSWORD

            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: nextcloud-secrets
                  key: SECRET

            - name: OIDC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: nextcloud-secrets
                  key: OIDC_CLIENT_SECRET

            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: password
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: host
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: port
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: dbname

          resources:
            requests:
              memory: 200Mi
              cpu: 10m
            limits:
              memory: 2Gi
              cpu: 2000m

          readinessProbe:
            httpGet:
              path: /status.php
              port: 80
              httpHeaders:
                - name: Host
                  value: nextcloud.nextcloud.svc.cluster.local
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /status.php
              port: 80
              httpHeaders:
                - name: Host
                  value: nextcloud.nextcloud.svc.cluster.local
            failureThreshold: 3
            periodSeconds: 30

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          volumeMounts:
            - mountPath: /var/www/html
              name: nextcloud-www-pvc
            - mountPath: /var/www/html/data
              name: nextcloud-data-pvc
              subPath: data
            - mountPath: /var/www/html/config
              name: nextcloud-config
            - mountPath: /tmp
              name: tmp
            - mountPath: /var/run
              name: run

      enableServiceLinks: false
      automountServiceAccountToken: false

      securityContext:
        runAsNonRoot: true
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault

      volumes:
        - name: nextcloud-config
          emptyDir:
            sizeLimit: 1Gi
        - name: nextcloud-configmap
          configMap:
            name: nextcloud-config
        - name: tmp
          emptyDir:
            sizeLimit: 1Gi
        - name: run
          emptyDir:
            sizeLimit: 1Gi

  volumeClaimTemplates:
    - metadata:
        name: nextcloud-data-pvc
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 100Gi
    - metadata:
        name: nextcloud-www-pvc
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 5Gi
