---
image:
  # -- Traefik image pull policy
  pullPolicy: Always

deployment:
  enabled: true
  # -- Deployment or DaemonSet
  kind: Deployment
  # -- Number of pods of the deployment (only applies when kind == Deployment)
  replicas: 2

  podAnnotations:
    observability.kalexlab.xyz/port: "9100"
    observability.kalexlab.xyz/path: /metrics
    observability.kalexlab.xyz/scrape: "true"

  # Ensure that the two replicas are scheduled one per node
  # In particular, due to L2 Announcement requiring a pod on the leader,
  # these two nodes must be those tagged with a given label.
  #   ref: helm/cilium/extra/overlays/prod/traefik-ip-pool.yaml
  #   ref: https://docs.cilium.io/en/latest/network/l2-announcements/#limitations
  affinity:
    # Ensure that only nodes with the correct label get a Traefik pod
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: ingress.kalexlab.xyz/type
                operator: In
                values:
                  - traefik
    # Ensure that the replicas are not scheduled on the same node
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: traefik
          topologyKey: kubernetes.io/hostname

ingressRoute:
  dashboard:
    enabled: false

providers:
  kubernetesCRD:
    enabled: true
    # -- Allows IngressRoute to reference resources in namespace other than theirs
    allowCrossNamespace: true
    # -- Allows to reference ExternalName services in IngressRoute
    allowExternalNameServices: true

  kubernetesIngress:
    enabled: false

# -- Global command arguments to be passed to all traefik's pods
global:
  checkNewVersion: true
  sendAnonymousUsage: false

ports:
  web:
    ## -- Enable this entrypoint as a default entrypoint. When a service doesn't explicitly set an entrypoint it will only use this entrypoint.
    # asDefault: true
    port: 8000
    # hostPort: 8000
    # containerPort: 8000
    expose:
      default: true
    exposedPort: 80
    ## -- Different target traefik port on the cluster, useful for IP type LB
    # targetPort: 80
    # The port protocol (TCP/UDP)
    protocol: TCP
    # Port Redirections
    # Added in 2.2, you can make permanent redirects via entrypoints.
    # https://docs.traefik.io/routing/entrypoints/#redirection
    redirections:
      entryPoint:
        to: websecure
        scheme: https

  websecure:
    ## -- Enable this entrypoint as a default entrypoint. When a service doesn't explicitly set an entrypoint it will only use this entrypoint.
    asDefault: true
    port: 8443
    # hostPort: 8443
    # containerPort: 8443
    expose:
      default: true
    exposedPort: 443
    ## -- Different target traefik port on the cluster, useful for IP type LB
    # targetPort: 80
    ## -- The port protocol (TCP/UDP)
    protocol: TCP

    # -- See [upstream documentation](https://doc.traefik.io/traefik/routing/entrypoints/#transport)
    transport:
      respondingTimeouts:
        # Immich requires being able to upload big files (> ~700MB),
        # and hangs with the default readTimeout (60s).
        # Currently, it does not appear to be possible to modify this value on a per-route basis
        readTimeout: 300s

    ## Set TLS at the entrypoint
    ## https://doc.traefik.io/traefik/routing/entrypoints/#tls
    tls:
      enabled: true

  mqtt:
    asDefault: false
    port: 8883
    expose:
      default: true
    exposedPort: 8883
    protocol: TCP
    tls:
      enabled: true

  metrics:
    port: 9100
    # Do not expose metrics to outside the cluster
    expose:
      default: false
    exposedPort: 9100
    protocol: TCP

service:
  enabled: true
  ## -- Single service is using `MixedProtocolLBService` feature gate.
  ## -- When set to false, it will create two Service, one for TCP and one for UDP.
  single: true
  type: LoadBalancer
  labels:
    kalexlab.xyz/ip-pool: traefik

  spec:
    # Preserve client IP address
    externalTrafficPolicy: Local

metrics:
  prometheus:
    # -- Entry point used to expose metrics.
    entryPoint: metrics
