---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: tasks
  name: kaneo-web
spec:
  template:
    spec:
      containers:
        - name: app
          env:
            - name: KANEO_API_URL
              value: "https://tasks.dev.kalexlab.xyz"
