---
apiVersion: v1
kind: Service
metadata:
  namespace: homer
  name: homer
  labels:
    kalexlab.xyz/app: homer
spec:
  type: ClusterIP
  ports:
    - name: homer
      port: 8080
      protocol: TCP
  selector:
    kalexlab.xyz/app: homer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: homer
  name: homer
  labels:
    kalexlab.xyz/app: homer
spec:
  replicas: 1
  selector:
    matchLabels:
      kalexlab.xyz/app: homer
  minReadySeconds: 5
  template:
    metadata:
      labels:
        kalexlab.xyz/app: homer
        kalexlab.xyz/monitoring: "true"
    spec:
      restartPolicy: Always

      initContainers:
        - name: copy-config-and-theme
          image: "docker.io/library/alpine:3.22"
          imagePullPolicy: Always
          command: [
              "sh",
              "-c",
              "cp /mnt/config.yml /mnt/assets && \
              mkdir -p /mnt/assets/images /mnt/assets/icons && \
              wget -O /mnt/assets/catppuccin.css https://raw.githubusercontent.com/mrpbennett/catppuccin-homer/main/flavours/catppuccin-frappe.css && \
              wget -O /mnt/assets/images/romb.png https://raw.githubusercontent.com/mrpbennett/catppuccin-homer/main/assets/images/backgrounds/romb.png && \
              wget -O /mnt/assets/icons/dark_circle.png https://raw.githubusercontent.com/mrpbennett/catppuccin-homer/main/assets/logos/dark_circle.png && \
              wget -O /mnt/assets/icons/favicon.zip https://raw.githubusercontent.com/mrpbennett/catppuccin-homer/refs/heads/main/assets/favicons/dark_favicon.zip && \
              unzip -od /mnt/assets/icons /mnt/assets/icons/favicon.zip && \
              rm /mnt/assets/icons/favicon.zip",
            ]
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          resources:
            requests:
              memory: 1Mi
              cpu: 1m
            limits:
              # faster restarts due to above command
              memory: 50Mi
              cpu: 100m

          volumeMounts:
            - mountPath: /mnt/assets
              name: homer-assets
            - mountPath: /mnt/config.yml
              name: homer-conf
              subPath: config.yml
      containers:
        - name: app
          image: "docker.io/b4bz/homer:v25.11.1"
          imagePullPolicy: Always

          ports:
            - containerPort: 8080
              protocol: TCP

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          resources:
            requests:
              memory: 1Mi
              cpu: 1m
            limits:
              memory: 20Mi
              cpu: 10m

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            failureThreshold: 3
            periodSeconds: 30

          volumeMounts:
            - mountPath: /www/assets
              name: homer-assets

      enableServiceLinks: false
      automountServiceAccountToken: false

      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault

      volumes:
        - name: homer-conf
          configMap:
            name: homer-conf
        - name: homer-assets
          emptyDir:
            sizeLimit: 1Gi
