---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - network-policies.yaml
  - conf.yaml
  - homer.yaml
  - ingress.yaml
images:
  - name: docker.io/b4bz/homer
    newTag: v25.05.2
  - name: docker.io/library/alpine
    newTag: 3.21.3
