---
apiVersion: v1
kind: Service
metadata:
  namespace: tasks
  name: kaneo-web
  labels:
    kalexlab.xyz/app: tasks
    kalexlab.xyz/component: kaneo-web
spec:
  type: ClusterIP
  ports:
    - name: kaneo-web
      port: 5173
      protocol: TCP
  selector:
    kalexlab.xyz/app: tasks
    kalexlab.xyz/component: kaneo-web
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: tasks
  name: kaneo-web
  labels:
    kalexlab.xyz/app: tasks
    kalexlab.xyz/component: kaneo-web
spec:
  replicas: 1
  selector:
    matchLabels:
      kalexlab.xyz/app: tasks
      kalexlab.xyz/component: kaneo-web
  minReadySeconds: 5
  template:
    metadata:
      labels:
        kalexlab.xyz/app: tasks
        kalexlab.xyz/component: kaneo-web
        kalexlab.xyz/monitoring: "true"
    spec:
      restartPolicy: Always
      initContainers:
        - name: copy-nginx
          image: "ghcr.io/usekaneo/web:2.0.5"
          imagePullPolicy: Always

          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL

          resources:
            requests:
              memory: 20Mi
              cpu: 5m
            limits:
              memory: 200Mi
              cpu: 100m

          command: ["sh", "-c", "cp -r /usr/share/nginx/html/* /mnt/nginx"]

          volumeMounts:
            - mountPath: /mnt/nginx
              name: nginx
      containers:
        - name: app
          image: "ghcr.io/usekaneo/web:2.0.5"
          imagePullPolicy: Always

          ports:
            - containerPort: 5173
              protocol: TCP

          env:
            - name: KANEO_API_URL
              value: "https://tasks.kalexlab.xyz"

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          resources:
            requests:
              memory: 20Mi
              cpu: 1m
            limits:
              memory: 50Mi
              cpu: 200m

          readinessProbe:
            httpGet:
              path: /
              port: 5173
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 5173
            failureThreshold: 3
            periodSeconds: 30

          volumeMounts:
            - mountPath: /tmp
              name: tmp
            - mountPath: /usr/share/nginx/html
              name: nginx
            - mountPath: /var/cache/nginx
              name: nginx-cache
            - mountPath: /var/run
              name: run

      enableServiceLinks: false
      automountServiceAccountToken: false

      securityContext:
        runAsNonRoot: true
        runAsUser: 10000
        runAsGroup: 10000
        fsGroup: 10000
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault

      volumes:
        - name: tmp
          emptyDir:
            sizeLimit: 1Gi
        - name: nginx
          emptyDir:
            sizeLimit: 1Gi
        - name: nginx-cache
          emptyDir:
            sizeLimit: 1Gi
        - name: run
          emptyDir:
            sizeLimit: 1Gi
