---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: tasks
  name: default-deny-all
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: tasks
  name: allow-egress-cluster-dns
spec:
  podSelector: {}
  policyTypes:
    - Egress
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: coredns
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: tasks
  name: kaneo-web
spec:
  podSelector:
    matchLabels:
      kalexlab.xyz/app: tasks
      kalexlab.xyz/component: kaneo-web
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: traefik
          podSelector:
            matchLabels:
              app.kubernetes.io/name: traefik
      ports:
        - protocol: TCP
          port: 5173
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: tasks
  name: kaneo-api
spec:
  podSelector:
    matchLabels:
      kalexlab.xyz/app: tasks
      kalexlab.xyz/component: kaneo-api
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: traefik
          podSelector:
            matchLabels:
              app.kubernetes.io/name: traefik
      ports:
        - protocol: TCP
          port: 1337
  egress:
    # Allow to reach Authelia for OIDC
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: traefik
          podSelector:
            matchLabels:
              app.kubernetes.io/name: traefik
      ports:
        - protocol: TCP
          port: 8443
    - to:
        - podSelector:
            matchLabels:
              kalexlab.xyz/app: tasks
              kalexlab.xyz/component: cluster
      ports:
        - protocol: TCP
          port: 5432
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: tasks
  name: cluster
spec:
  podSelector:
    matchLabels:
      kalexlab.xyz/app: tasks
      kalexlab.xyz/component: cluster
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              kalexlab.xyz/app: tasks
              kalexlab.xyz/component: kaneo-api
      ports:
        - protocol: TCP
          port: 5432
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: prometheus
          podSelector:
            matchLabels:
              app.kubernetes.io/name: prometheus
      ports:
        - protocol: TCP
          port: 9187
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: cnpg-system
          podSelector:
            matchLabels:
              app.kubernetes.io/name: cloudnative-pg
      ports:
        - protocol: TCP
          port: 5432
        - protocol: TCP
          port: 8000
---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  namespace: tasks
  name: cluster-to-apiserver
spec:
  endpointSelector:
    matchLabels:
      kalexlab.xyz/app: tasks
      kalexlab.xyz/component: cluster
  egress:
    - toEntities:
        - kube-apiserver
