{
  "CN": "{{ cn }}",
  "key": {
    "algo": "{{ k8s_pki_key_algo }}",
    "size": {{ k8s_pki_key_size }}
  },
  "names": [
    {
      "C": "US",
      "L": "Portland",
      "O": "{{ o }}",
      "OU": "Kubernetes The Hard Way",
      "ST": "Oregon"
    }
  ]
}
