#!/bin/bash

set -e

# Pre-check
restic \
	-r sftp:{{ restic_user }}@{{ restic_host }}:{{ restic_path }} \
	--password-file {{ restic_password_file_path }} \
	check

# Forget
restic \
	-r sftp:{{ restic_user }}@{{ restic_host }}:{{ restic_path }} \
	--password-file {{ restic_password_file_path }} \
	forget \
	{% for policy in restic_retention.policy %}--{{ policy }}={{ restic_retention.policy[policy] }} {% endfor %}

# Prune
restic \
	-r sftp:{{ restic_user }}@{{ restic_host }}:{{ restic_path }} \
	--password-file {{ restic_password_file_path }} \
	prune

# Post-check
restic \
	-r sftp:{{ restic_user }}@{{ restic_host }}:{{ restic_path }} \
	--password-file {{ restic_password_file_path }} \
	check
