---
hubble:
  # -- Enable Hubble (true by default).
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true

  # Fixes out of sync issues with ArgoCD
  #   ref: https://github.com/cilium/cilium/issues/14550
  tls:
    auto:
      method: cronJob

  export:
    static:
      enabled: true
      filePath: /var/run/cilium/hubble/events.log

# Enable support for L2 Announcements
l2announcements:
  enabled: true

# Enable EgressGateway support
# Note: also requires kubeProxyReplacement: true
#   ref: https://docs.cilium.io/en/stable/network/egress-gateway/egress-gateway/
egressGateway:
  enabled: true

bpf:
  masquerade: true

# Values from the Talos docs
#   ref: https://www.talos.dev/v1.9/kubernetes-guides/network/deploying-cilium/#method-1-helm-install
ipam:
  mode: kubernetes

kubeProxyReplacement: true

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup

k8sServiceHost: localhost
k8sServicePort: 7445
