---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - network-policies.yaml
  - rbac.yaml
  - secrets.yaml
  - mariadb.yaml
  - bus.yaml
  - monitor.yaml
  - configurator.yaml
  - uptime-kuma.yaml
  - ingress.yaml
images:
  - name: docker.io/library/mariadb
    newTag: 11.8.3
  - name: docker.io/library/alpine
    newTag: 3.22.1
