---
apiVersion: v1
kind: Service
metadata:
  namespace: gatus
  name: gatus
  labels:
    kalexlab.xyz/app: gatus
    kalexlab.xyz/component: gatus
spec:
  type: ClusterIP
  ports:
    - name: gatus
      port: 8080
      protocol: TCP
  selector:
    kalexlab.xyz/app: gatus
    kalexlab.xyz/component: gatus
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: gatus
  name: gatus
  labels:
    kalexlab.xyz/app: gatus
    kalexlab.xyz/component: gatus
spec:
  replicas: 1
  selector:
    matchLabels:
      kalexlab.xyz/app: gatus
      kalexlab.xyz/component: gatus
  minReadySeconds: 5
  template:
    metadata:
      labels:
        kalexlab.xyz/app: gatus
        kalexlab.xyz/component: gatus
    spec:
      restartPolicy: Always
      initContainers:
        - name: wait-db
          image: "docker.io/library/alpine:3.23"
          imagePullPolicy: Always

          resources:
            requests:
              memory: 30Mi
              cpu: 1m
            limits:
              memory: 300Mi
              cpu: 20m

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          command:
            [
              "sh",
              "-c",
              "for i in $(seq 1 300); do nc -zvw1 cluster-rw 5432 && exit 0 || sleep 3; done; exit 1",
            ]
      containers:
        - name: app
          image: "ghcr.io/twin/gatus:v5.33.0"
          imagePullPolicy: Always

          ports:
            - containerPort: 8080
              protocol: TCP

          env:
            - name: GATUS_CONFIG_PATH
              value: /config

            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: password
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: host
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: port
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: cluster-app
                  key: dbname

            - name: TELEGRAM_TOKEN
              valueFrom:
                secretKeyRef:
                  name: gatus-secrets
                  key: TELEGRAM_TOKEN
            - name: KALEX_TELEGRAM_ID
              valueFrom:
                secretKeyRef:
                  name: gatus-secrets
                  key: KALEX_TELEGRAM_ID
            - name: LAETITIA_TELEGRAM_ID
              valueFrom:
                secretKeyRef:
                  name: gatus-secrets
                  key: LAETITIA_TELEGRAM_ID
            - name: OIDC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: gatus-secrets
                  key: OIDC_CLIENT_SECRET

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

          resources:
            requests:
              memory: 50Mi
              cpu: 10m
            limits:
              memory: 200Mi
              cpu: 100m

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            failureThreshold: 3
            periodSeconds: 30

          volumeMounts:
            - mountPath: /config
              name: gatus-conf

      enableServiceLinks: false
      automountServiceAccountToken: false

      securityContext:
        runAsNonRoot: true
        runAsUser: 10000
        runAsGroup: 10000
        fsGroup: 10000
        fsGroupChangePolicy: "OnRootMismatch"
        seccompProfile:
          type: RuntimeDefault

      volumes:
        - name: gatus-conf
          configMap:
            name: gatus-conf
