---
apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
  name: music-secrets
  namespace: music
spec:
  secretTemplates:
    - name: navidrome-secrets
      stringData:
        ND_LASTFM_APIKEY: ENC[AES256_GCM,data:q6+GdsVatAJPiZ01R/51jamfLkNJxlJ8pxNMGJ58aXM=,iv:TQ+nE6rHDWJK7LGJwdHtPERb67DhREJncj6SXuS4I1I=,tag:tqpKpOK9Dztp7KgI3T0CjQ==,type:str]
        ND_LASTFM_SECRET: ENC[AES256_GCM,data:gmMFUf4vs3IKfE2MBgZ4I+s0kCmYNHlpf8EzZU+NJbY=,iv:fX1Cg6fQEUAqf1mKsVmGfSoUpMiytjOhUFX4zoGFurc=,tag:7Spe7trhNLEQCNz6z16Ycw==,type:str]
    - name: beet-secrets
      stringData:
        config.yaml: ENC[AES256_GCM,data:ymbfO0CiBgtDaND62J/rKYMlKG/6OJyLt2GnkahJRyUnq0yLh14/o2e590xZz28LmPmSRiyRY/1+JmOSevbD5LJBtZUzILHDZaEFef2z/lKGqziEFb+EgxLjYgiNusxXKS5kbZKyyIY0nKHRhf67CKjXUt/EWN+lkfOCM+EV4R4PGHuITsDn/z2Bm/ScD1COC/MsINB/Q8A5wy7/CiS1TVnnqw4mPmtBIqo/tXM+2zVAlVafuGVbGbQX7qsAAWf+WWXaGAYy+blnGisRScINvmRgJOuRcENMnbY1jywTXAmaH32IlFxx9Ytp1GpRFY1Lh1ytrt47CEr9va9CK9kTDdPgZ7/rAQs/Dcja20LXxyOhyzakn1M2j6AReHTWpr6Oo5xxbPpLLMbLgKQRgnVIOsMShPe7kmhAKMxNhVPkbGsYzcx3Alf5qE7VfWOsDnXmm4j1R95TivUGVBWjAvaMLD5SCq2S0qqxNpmfbCMtvMTrJypuCsSgu5ClPK/OrBYM/pYsM2Y=,iv:kskLxMRBN4nO1+0l8Th2ZPhvhjGVSl1yBtOLkrozHpY=,tag:zMOz6zJdDmD4FWQGUihoEA==,type:str]
    - name: registry-credentials
      type: kubernetes.io/dockerconfigjson
      stringData:
        .dockerconfigjson: ENC[AES256_GCM,data:6A8MAo4fjPC+IdODiLXEU+9n/rY/D1g/F/5YY9zrlvR0IjlaevOxDdiZscKKAC3yQrBNXDVnG1+5m8aV/McLZNMe8U1UFV0dq8tu+874G4P37+XZLGGlA/gYbO9NqBBimKRu8lRVKuw7kh3PWtfrvAGsEljB8zJd4LVgPWxdiCykosDx6XWZD92FmLK9Yq+PcMs8AWrku+UWS4iKPpdHjlWniehYVEoBuC4G,iv:00A612O9K6McrbneMUnL1pv8GZB3Jm2vPZfhkTjE/eY=,tag:08bUTEyetLRPISY8mAzOlQ==,type:str]
sops:
  age:
    - recipient: age1ff26etr9n8nsp2ve2lkh7w4dqd9g9m9u3y8aw77ureu639mrfatqmuqnhv
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBWdkpsaHdGNExmNG92VlRI
        c0w1MHZqNUxKbXJ2dm5EVXAxUlpiY1E2aFNNCk1jc2NKa3lPeTFwaVhkbGVnRmVq
        SUVJZmVTYnVQTDY5SXYwUGZsUWZFd28KLS0tIGRYUk1nM0xZQ2Jpcjk4RDY0d3pL
        M1JJZ25MUkp6eTFxMW43LzYvMjdPbUUK66eebRcXc/0OgE7hcCLN4pvJ+tRJTbfF
        w0RKlQUm851DxWfN33Wo9isN4jFSGxS52iE9ffsLWVmZ/ZcTqyQQHA==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-11-07T18:06:00Z"
  mac: ENC[AES256_GCM,data:lmXLYI8qijGrfOT5PARws7dmChdVGe/Tc8KYdGAMca4uO2V18Go9NmvLLfbzSKrzOl1DEvmfdR7NcNz/NILhq7p0kl+KWcVFEeYRS8G9r/3K3X76RcyHPytWY9915AOC0ewvzLazXSNIxPg5J7IzRY8PbISL6+ivTXjD471sZlo=,iv:Z9a9qic51AOUV3pB5yaW8lmPNzXM/L2vbCWvjZQ3GXY=,tag:pASjtPgF4TJskxz4eKupHw==,type:str]
  encrypted_regex: ^(data|stringData)$
  version: 3.11.0
