---
apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
  name: manga-conf
  namespace: manga
spec:
  secretTemplates:
    - name: manga-conf
      stringData:
        application.yml: ENC[AES256_GCM,data:GzWwghxCAUrGIUWXjsVV4AEvo0xVHAtFAkbOUwWN4ndKZSwQM4Y5uV0dmYYSf2rMVDeQVKGqtwEeW+gvPrRYJbZNErqontgSRpOhQLMiKmkUqnOJu1Pl5uH1KnWU1WwB343NZo4UEo/hxtrQoKDoW4Md/K0DekzqlSQnYv1XuyrLR1niTJx5KYcmInAMCsliwq5TE5QFBsQHzwEhvXGdeA7p7L+v6JQsAM3JI+a9SYspxvYM+tvsKVP6eM3vZiWPO4dwsPdE6u1UFBKvH0t9pg0AogsBrcv/OXp9AQ/2KdvUvuVGZLw/BNMAQAk8w5BBeMPwccVl3C8WIW6M6pSGIza6SRUNZHjXdaxNqPKeaVQ3sMkz8a4/1ZWaOotPLDjjMCSQ3Ok8n+m3twi8xXb/EMb4lO7bJEEFy2dO441jRPXojJiuGDGBWSckVsKh+0lvlzp+8RYy9UanIdM0eBAEjV+tgtZJ+C7qq/igUgvj/BwoHid6T2z33N+9W6XYWjOJBYGHVtyyzICqYSjIYD2skY8W0lShRXeBs/+f1zZuhIkM4UR0fy1OfgBS6gFuZv5JksW0YH4inNYroF5JLSr972XgMx83fOJXPwPsmX/wmAa9DmKRlbbwpnVzq10u3zlSbLpOP+WEqwQ1xJJrEN6pSZrhWwXJjAEoMKcKZg4eLoJawnN3hRZPxeO+X/SYqIoqujege+1nyf+0MiFC8H9urbMX4ZXzTZPx8xuxprCiWPs700G1WgGkKsXJCHI8+FkdR/EGkexxxsE3qrtB8u5+9oJN2DnIGQKOkK2Y0FGZ5yj24UKYe6SulN3RzMgAMD/UdO708wvzxsPTX1OsskVZ/Q4ETcl7ID+QZ2b3FtQ4y/Wa9W4I36rkEy0mv5+fabCcTdq4CIINEaesOnW54822/OC40ffybIOXY58rULhMsQ==,iv:MZm3DG4kFeWqFvDauA2ThENNi4mFIehKzwpEETB8/gU=,tag:cRTGdU52t0S67uraA6b0tQ==,type:str]
    - name: s3-secrets
      stringData:
        REGION: ENC[AES256_GCM,data:1yGGk6h9hA==,iv:H7Kk7Bd2zYz1PI3Epnl+MZ4Qgsu0la2dTMYTPEy0hMg=,tag:ic/d+eY6aLaevMxGzlgwbQ==,type:str]
        ACCESS_KEY: ENC[AES256_GCM,data:TVujI28kLiCSYINCaNtKDV/ehQCWp1R9t5A=,iv:Zw3tbdKT8fP+jezzBdCutHqzEaxiUxasmZ3JavqovDA=,tag:d/PD/NB4NrdiEY59zmmM1w==,type:str]
        SECRET_KEY: ENC[AES256_GCM,data:SFyOPcMo8EohQuU4gsF5x9awZ3/ROpH/bDP+rG5o1g/zmflORkVCXTjEzIZtCb8E6iSpQUn3YZ6RjFSuglddhw==,iv:XSNgHvuaGN364B9Za7htev1aFPNdW9tdUB8TUU1Vbas=,tag:9GStq3RbNLsFp9n5xKH1OQ==,type:str]
sops:
  age:
    - recipient: age1ff26etr9n8nsp2ve2lkh7w4dqd9g9m9u3y8aw77ureu639mrfatqmuqnhv
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBib3FzTFlUdERLV1c2dmNl
        cmRYVE8xa0IwR1JuRlZhWUNOY3FEcXNJZkdFCmJuVnN0dlFNeC9vTGJHL09rTWFy
        ZXlxOVp4VUhpTUlzVEFKSkNYRisyUjQKLS0tIDRiZU5YNEF6bGNoSS9La2drV21w
        SnN1SXFYUHBnS0o4WGdmcHpDaWNBcmcKnZMazv2U1YDa6bidYeIejElQwlCissjx
        XgTXI3OXIDvSCrQS2/nsGDV5wglgJtY3X8IgWne0R2liMUiGdYjZEg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-11-26T07:43:13Z"
  mac: ENC[AES256_GCM,data:fJVc4faFXL03yaWAjmbtRbZF1zAe+gUtaqdGul7HDEFYm48oiLhIQyMBZMd8D/X0S0I0iACOd/qbOZCV8Rgdsr7+BcBceRfQ1vl1Sbpg0uW+6Pe/6RX17r3Hx4D0Wp5IkDQI5impQbyyyzuFDr+SMXGTYlQTcVp7YEBKWC7JrUs=,iv:ZRXramBsP7bw6ksCao6+qX2+ajiAOuOTCK81YbMef+s=,tag:Avs4TVwCuY7Jgm4I9W2hlg==,type:str]
  encrypted_regex: ^(data|stringData)$
  version: 3.11.0
