---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: pool-traefik
  namespace: kube-system
spec:
  blocks:
    - cidr: "192.168.10.20/32"
  serviceSelector:
    matchLabels:
      kalexlab.xyz/ip-pool: traefik
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: l2policy-traefik
  namespace: kube-system
spec:
  loadBalancerIPs: true
  serviceSelector:
    matchLabels:
      kalexlab.xyz/ip-pool: traefik
