---
version: 1

web:
  listen:
    port: 8080
    host: 0.0.0.0

  database:
    location: /opt/scrutiny/db/scrutiny.db
  src:
    frontend:
      path: /opt/scrutiny/web

  influxdb:
    scheme: "http"
    host: "influxdb" 
    port: 8086 
    token: "{{ scrutiny_influxdb_token }}"
    org: "{{ scrutiny_influxdb_org }}"
    bucket: "{{ scrutiny_influxdb_bucket }}"
    retention_policy: true

log:
  file: '' #absolute or relative paths allowed, eg. web.log
  level: INFO 


notify:
  urls:
    - "telegram://{{ scrutiny_telegram_token }}@telegram?channels={{ scrutiny_telegram_chatids }}"
