---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: pool-traefik
spec:
  blocks:
    - cidr: "{{ traefik_loadbalancer_cidr }}"
  serviceSelector:
    matchLabels:
      kalexlab.xyz/ip-pool: traefik

---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: l2policy-traefik
spec:
  interfaces:
    - "^eth[0-9]+"
  loadBalancerIPs: true
  serviceSelector:
    matchLabels:
      kalexlab.xyz/ip-pool: traefik
