---
initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.2
    imagePullPolicy: Always
    volumeMounts:
      - mountPath: /target
        name: plugins

metrics:
  enabled: true

  serviceMonitor:
    enabled: true

configuration:
  volumeSnapshotLocation:
    - name: default
      provider: aws

  features: EnableCSI

# Workaround while waiting for the resolution of https://github.com/vmware-tanzu/helm-charts/issues/698
kubectl:
  image:
    repository: docker.io/bitnamilegacy/kubectl
    tag: latest
