---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: home-assistant
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - clusters: {}
  template:
    metadata:
      name: home-assistant
    spec:
      project: default
      sources:
        - repoURL: "https://github.com/AlessandroZanatta/homelab-v2.git"
          targetRevision: master
          path: "kubernetes/apps/home-assistant/overlays/{{ .metadata.labels.env }}"
      destination:
        server: "{{ .server }}"
        namespace: home-assistant
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
