---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  namespace: prometheus
  name: grafana-dashboard-certificate
spec:
  secretName: letsencrypt-tls-grafana
  dnsNames:
    - grafana.kalexlab.xyz
  issuerRef:
    group: cert-manager.io
    kind: ClusterIssuer
    name: letsencrypt
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  namespace: prometheus
  name: grafana-dashboard-ingress
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - kind: Rule
      match: Host(`grafana.kalexlab.xyz`)
      services:
        - name: prometheus-grafana
          port: 80
  tls:
    secretName: letsencrypt-tls-grafana
