{
  "signing": {
    "default": {
      "expiry": "{{ k8s_pki_certificate_expiration }}"
    },
    "profiles": {
      "kubernetes": {
        "usages": ["signing", "key encipherment", "server auth", "client auth"],
        "expiry": "{{ k8s_pki_certificate_expiration }}"
      }
    }
  }
}
